-- Python
-- 5 Задание. дана ведомость в которой два столбца - отдел и сотрудник.
-- необходимо подсчитать количество уникальных сотрудников в каждом отделе. результат отразить в поле Сnt
df: A, B
Отдел Сотрудник     Сnt
1     1             3
1     2             3
2     3             1
3     6             1
1     7             3
3     6             1

In [10]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame({'Отдел': [1, 1, 2, 3, 1, 3], 'Сотрудник': [1, 2, 3, 6, 7, 6]})
unique_counts = df.groupby('Отдел')['Сотрудник'].nunique().reset_index(name='Cnt')
df = df.merge(unique_counts, how='left')
df

   Отдел  Сотрудник  Cnt
0      1          1    3
1      1          2    3
2      2          3    1
3      3          6    1
4      1          7    3
5      3          6    1

-- 6 Задание. Python
-- дан df содержащий количество авторизаций сотрудников по неделям. 
-- необходимо посчитать количество авторизаций по каждому сотруднику за каждую неделю и суммарное количество с начала периода.
-- результат отразить в полях cnt и sum
df = pd.DataFrame({'w':[1,1,2,2,2,3,3,3,4,4,4], 
                   'user':['User2', 'User3','User1','User1','User2','User2','User2','User3','User1','User1','User3'],
                   'c':[7,2,3,1,2,5,4,6,9,8,7]})

In [12]:
df = pd.DataFrame({'w': [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4],
                   'user': ['User2', 'User3', 'User1', 'User1', 'User2', 'User2', 'User2', 'User3', 'User1', 'User1',
                            'User3'],
                   'c': [7, 2, 3, 1, 2, 5, 4, 6, 9, 8, 7]})

df = df.groupby(['w', 'user'])['c'].sum()
df = df.reset_index()

df['sum'] = df.groupby('user')['c'].cumsum()
df

   w   user   c  sum
0  1  User2   7    7
1  1  User3   2    2
2  2  User1   4    4
3  2  User2   2    9
4  3  User2   9   18
5  3  User3   6    8
6  4  User1  17   21
7  4  User3   7   15